*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-nav .nav-item .nav-link{
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.navbar-nav .nav-item .nav-link:hover{
    background-color:peru ;
    color: #ffffff;
}


